global
    daemon

defaults
    mode http
    log global
    option httplog

frontend http-in
    bind *:80
    mode http
    
    # Балансировка только для example.local
    acl is_example hdr(host) -i example.local
    use_backend servers if is_example
    
    # Для других доменов - заглушка
    default_backend no_access

backend servers
    mode http
    balance roundrobin
    
    # Веса: 2, 3, 4
    server srv1 127.0.0.1:8001 weight 2
    server srv2 127.0.0.1:8002 weight 3
    server srv3 127.0.0.1:8003 weight 4

backend no_access
    mode http
    http-request deny deny_status 403