global
    log /dev/log local0
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode http
    option httplog
    retries 3
    timeout connect 5000
    timeout client 50000
    timeout server 50000

frontend http-in
    bind *:8080
    use_backend backend1 if { path /server1 }
    use_backend backend2 if { path /server2 }
    default_backend backend_roundrobin

backend backend1
    mode http
    server server1 127.0.0.1:8888

backend backend2
    mode http
    server server2 127.0.0.1:9999

backend backend_roundrobin
    mode http
    balance roundrobin
    server server1 127.0.0.1:8888 check
    server server2 127.0.0.1:9999 check